[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "objectremover"]
	path = objectremover
	url = https://github.com/alan-y/objectremover
